$gunnmetal			rgb(192a26)
$gunnmetalAlpha			192a26
$tiffany-blue 			rgb(b0d7cd) 
$tiffany-blueAlpha      	b0d7cd
$rich-black			rgb(031b18)
$rich-blackAlpha        	031b18
$dark-green			rgb(05221e)
$dark-greenAlpha        	05221e
$brunswick-green		rgb(194641)
$brunswick-greenAlpha   	195641
$dark-green-blue		rgb(062d2d)
$dark-green-blueAlpha   	062d2d
$brown-sugar			rgb(a66854)
$brown-sugarAlpha       	a66854
$midnight-green-light		rgb(0d4b4c)
$midnight-green-lightAlpha      0d4b4c
$gray-green			rgb(3d6360)
$gray-greenAlpha 		3d630
$midnight-green-dark		rgb(0b3e3c)
$midnight-green-darkAlpha       0b3e3c
$dark-gray			rgb(697c7b)
$dark-grayAlpha			697c7b
$light-gray			rgb(b2b2b2)
$light-grayAlpha 		b2b2b2
$text 				rgb(ffffff)
$textAlpha			ffffff
$dark-text 			rgb(000000)
$dark-textAlpha			000000
