./.vscode
.vscode
.DS_Store
.cursorrules
.cursorignore
.cursorignorerules
.cursorignorerulesrules
.cursorignorerulesrulesrules
.cursorignorerulesrulesrulesrules
.cursorignorerulesrulesrulesrulesrules
*.bak